# NLP : Natural Language Processing

Bu çalışma YouTube videoalrına yapılan yorumları SPAM - SPAM değil şeklinde sınıflandırmaktadır.

# Kütüphaneleri Yükle

In [27]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import BernoulliNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pickle
import numpy as np

In [28]:
#pip install scikit-learn==1.2.2

In [29]:
pip show scikit-learn

Name: scikit-learn
Version: 1.2.2
Summary: A set of python modules for machine learning and data mining
Home-page: http://scikit-learn.org
Author:
Author-email:
License: new BSD
Location: c:\users\murat\.conda\envs\jupyterlab\lib\site-packages
Requires: joblib, numpy, scipy, threadpoolctl
Required-by: yellowbrick
Note: you may need to restart the kernel to use updated packages.

In [30]:
import warnings
warnings.filterwarnings("ignore")

# Veriyi Yükle

In [31]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 3073-49B7

 Directory of C:\Users\murat\Documents\BTKTemmuz2024\day8

24.07.2024  14:46    <DIR>          .
24.07.2024  14:17    <DIR>          ..
24.07.2024  14:13    <DIR>          .ipynb_checkpoints
24.07.2024  10:47           141.824 cars.xls
24.07.2024  12:37         4.137.412 Clustering.ipynb
24.07.2024  14:46            27.807 NLP.ipynb
25.02.2024  08:05            57.438 youtube.csv
               4 File(s)      4.364.481 bytes
               3 Dir(s)  112.715.673.600 bytes free

In [32]:
df=pd.read_csv('youtube.csv')

In [33]:
df

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1
...,...,...,...,...,...
345,z13th1q4yzihf1bll23qxzpjeujterydj,Carmen Racasanu,2014-11-14T13:27:52,How can this have 2 billion views when there's...,0
346,z13fcn1wfpb5e51xe04chdxakpzgchyaxzo0k,diego mogrovejo,2014-11-14T13:28:08,I don't now why I'm watching this in 2014﻿,0
347,z130zd5b3titudkoe04ccbeohojxuzppvbg,BlueYetiPlayz -Call Of Duty and More,2015-05-23T13:04:32,subscribe to me for call of duty vids and give...,1
348,z12he50arvrkivl5u04cctawgxzkjfsjcc4,Photo Editor,2015-06-05T14:14:48,hi guys please my android photo editor downloa...,1
349,z13vhvu54u3ewpp5h04ccb4zuoardrmjlyk0k,Ray Benich,2015-06-05T18:05:16,The first billion viewed this because they tho...,0

In [34]:

df[['CONTENT','CLASS']]

                                               CONTENT  CLASS
0    Huh, anyway check out this you[tube] channel: ...      1
1    Hey guys check out my new channel and our firs...      1
2               just for test I have to say murdev.com      1
3     me shaking my sexy ass on my channel enjoy ^_^ ﻿      1
4              watch?v=vtaRGgvGtWQ   Check this out .﻿      1
..                                                 ...    ...
345  How can this have 2 billion views when there's...      0
346         I don't now why I'm watching this in 2014﻿      0
347  subscribe to me for call of duty vids and give...      1
348  hi guys please my android photo editor downloa...      1
349  The first billion viewed this because they tho...      0

[350 rows x 2 columns]

In [35]:
str(df['CONTENT'][7]),str(df['CLASS'][7]),

('i turned it on mute as soon is i came on i just wanted to check the  views...\ufeff',
 '0')

In [36]:
df2=df[['CONTENT','CLASS']]

In [37]:
df2

                                               CONTENT  CLASS
0    Huh, anyway check out this you[tube] channel: ...      1
1    Hey guys check out my new channel and our firs...      1
2               just for test I have to say murdev.com      1
3     me shaking my sexy ass on my channel enjoy ^_^ ﻿      1
4              watch?v=vtaRGgvGtWQ   Check this out .﻿      1
..                                                 ...    ...
345  How can this have 2 billion views when there's...      0
346         I don't now why I'm watching this in 2014﻿      0
347  subscribe to me for call of duty vids and give...      1
348  hi guys please my android photo editor downloa...      1
349  The first billion viewed this because they tho...      0

[350 rows x 2 columns]

# X ve y ayarla

In [38]:
X=np.array(df['CONTENT'])
y=np.array(df['CLASS'])

# Metinleri vektörlere çevirme

In [39]:
vect=CountVectorizer()

In [40]:
X=vect.fit_transform(X)

In [43]:
X_train, X_test,y_train, y_test = train_test_split(X,y, test_size=0.2, 
                                   random_state=42)

# Modelleme

In [44]:
bNB=BernoulliNB()

In [45]:
model=bNB.fit(X_train,y_train)

## Değerlendrirme

In [46]:
predicts=model.predict(X_test)

In [47]:
accuracy_score(y_test,predicts)

0.9857142857142858

# Deploy

In [48]:
import pickle

In [49]:
pickle.dump(model,open('model.pkl','wb'))
pickle.dump(vect,open('vect.pkl','wb'))

# Web sayfası

In [50]:
loaded_model=pickle.load(open('model.pkl','rb'))
loaded_vect=pickle.load(open('vect.pkl','rb'))

In [51]:
yeni_yorum=input('Yorumunuzu Giriniz:')
yeni_yorum_vect=loaded_vect.transform([yeni_yorum])

Yorumunuzu Giriniz:Check this out my video https://www.mychannel.com

In [53]:
spam_tahmin=loaded_model.predict(yeni_yorum_vect)
print ('SPAM:',spam_tahmin)

SPAM: [1]